<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Курсы повышения квалификации</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
</head>
<body class="archive">
    <div class="header">
        <img src="{{ STATIC_URL }}img/logo.png" alt="Курсы повышения квалификации">
		<div class="header-links">
			{% if user.is_authenticated %}
				<a href="{% url 'create_lesson' %}">Добавить занятие</a>
				<a href="{% url 'logout' %}">Выйти</a>
			{% else %}
				<a href="{% url 'register' %}">Регистрация</a>
				<a href="{% url 'login' %}">Войти</a>
			{% endif %}
		</div>
    </div>
    <div class="content">
        {% for lesson in lessons %}
        <div class="one-post">
            <h2 class="post-title">
				<a href="{% url 'get_lesson' lesson.id %}">
					{{ lesson.subject.name }} — {{ lesson.lesson_type.name }}
				</a>
			</h2>
            <div class="article-info">
                <div class="article-author">{{ lesson.teacher }}</div>
                <div class="article-created-date">{{ lesson.created_date }}</div>
            </div>
            <p class="article-text">
                Группа: {{ lesson.group.name }}.
                Часов: {{ lesson.hours }}.
                Оплата за час: {{ lesson.rate_per_hour }}.
            </p>
			<button class="fold-button">свернуть</button>
        </div>
        {% endfor %}
    </div>
	<script src="{{ STATIC_URL }}js/fold-post.js"></script>
	<script src="{{ STATIC_URL }}js/helloworld.js"></script>
</body>
</html>