<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Архив статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
</head>
<body class="archive">
    <div class="header">
        <img src="{{ STATIC_URL }}img/logo.png" alt="Django public blog">
		<div class="header-links">
			{% if user.is_authenticated %}
				<a href="{% url 'create_post' %}">Написать статью</a>
				<a href="{% url 'logout' %}">Выйти</a>
			{% else %}
				<a href="{% url 'register' %}">Регистрация</a>
				<a href="{% url 'login' %}">Войти</a>
			{% endif %}
		</div>
    </div>
    <div class="content">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title"><a href="{% url 'get_article' post.id %}">{{ post.title }}</a></h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>